apiVersion: v1
kind: Pod
metadata:
  name: ueransim-gnb
  namespace: ueransim
spec:
  containers:
  - name: gnb
    image: free5gc/ueransim:latest
    command: ["/bin/bash", "-c"]
    args:
      - |
        set -e
        POD_IP=$(hostname -i | awk '{print $1}')
        cp /etc/ueransim/gnb.yaml /tmp/gnb.yaml
        sed -i "s/^linkIp:.*/linkIp: ${POD_IP}/" /tmp/gnb.yaml
        sed -i "s/^ngapIp:.*/ngapIp: ${POD_IP}/" /tmp/gnb.yaml
        sed -i "s/^gtpIp:.*/gtpIp: ${POD_IP}/" /tmp/gnb.yaml
        ./nr-gnb -c /tmp/gnb.yaml
    volumeMounts:
      - name: gnb-config
        mountPath: /etc/ueransim
  volumes:
    - name: gnb-config
      configMap:
        name: gnb-config

